#loading {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  background: black;
  opacity: 0.3;
  z-index: 1;
  position: fixed;
  top: 0;
  left: 0;
  display: none;
  justify-content: center;
  align-items: center;
}
#tblDanhSachSP img {
  width: 100px;
}
.sp-thongbao {
  color: red;
}
header button a:hover {
  text-decoration: none;
}
